docker {
  enabled = true
  runOptions = "-v ${projectDir}:${projectDir} --platform linux/amd64"
}

executor {
    name = 'local'
    poolSize = 10  // Number of threads available for tasks
}

// Process-specific settings
process {
    executor = 'local'  // Use local executor
    maxForks = 4        // Allow up to 4 parallel tasks

    withLabel: 'process_high' {
        memory = '6 GB'  // Assign 6 GB per process
        cpus = 2         // Assign 2 CPUs per process
    }

    withLabel: 'process_low' {
        memory = '2 GB'
        cpus = 1
    }
}
